.home-section {
    padding: 2rem 1rem;
}

.cars-row {
    display: flex;
    gap: 1.25rem;
    overflow-x: auto;
    padding-bottom: 0.5rem;
}

.cars-row::-webkit-scrollbar {
    height: 1.5rem;
}

.cars-row::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
}


.home-content {
    flex: 1;
}