#main-footer{
    background-image: url("../assets/images/footer-image.jpg");
    display: flex;
}

.main-footer-text{
    text-align: center;
}
.main-footer-form{
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

